* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0a0a0a;
  display: flex;
  width: 100vw;
  height: 100vh;
   flex-direction: column;
}

.top-bar {
  height: 50px;
  width: 100%;
  background-color: violet;
  border-bottom: 1px solid whitesmoke;
  display: flex;

}

.container {
  display: flex;
  flex: 1;
}


.links {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.links .top {
  height: 50px;
  background: red;
border: 1px solid whitesmoke;
}

.links .item {
  flex: 1;
    border: 1px solid whitesmoke;
}

.links .item:nth-child(2) { background: red; }
.links .item:nth-child(3) { background: red; }
.links .item:nth-child(4) { background: red; }
.links .item:nth-child(5) { background: red; }
.links .item:nth-child(6) { background: red; }
.links .item:nth-child(7) { background: red; }
.links .item:nth-child(8) { background: red; }
.links .item:nth-child(9) { background: red; }
.links .last {
height: 200px;
  flex: none;
  background:greenyellow;
 
}

.rechts {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.rechts .main {
  flex: 1;
  background: #0d0d0d;
}

.bottom-bar {
  display: flex;
   height: 200px;
 
}

.bottom-bar .blok {
  flex: 1;
  border: 1px solid whitesmoke;
}

.bottom-bar .blok:nth-child(1) { background: pink; }
.bottom-bar .blok:nth-child(2) { background: pink; }
.bottom-bar .blok:nth-child(3) { background: pink; }
.bottom-bar .blok:nth-child(4) { background: pink; }
.bottom-bar .blok:nth-child(5) { background: pink; border-right: none; }